.icon-list {
  padding-left: 0;
  list-style: none;
}
.icon-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: .25rem;
}
.icon-list li::before {
  display: block;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: .5rem;
  margin-top: .4rem;
  content: "";
  background-image: url("../img/utopia_smiley.png");
  background-repeat: no-repeat;
}
